.crew{
    background: url('../assets/crew/background-crew-desktop.jpg') center center / cover no-repeat;
    min-height: 100vh;

    @media (max-width: 768px) {
        background: url('../assets/crew/background-crew-tablet.jpg') center center / cover no-repeat;
    }

    @media (max-width: 400px) {
        background: url('../assets/crew/background-crew-mobile.jpg') center center / cover no-repeat;
    }

    .container{
        display: flex;
        flex-direction: column;
        gap: 90px;

        @media (max-width:768px) {
            gap: 0;
            padding-right: 55px;
        }

        @media (max-width:400px) {
            padding-right: 28px;
        }
    }

    h1{
        font-size: 56px;

        @media (max-width:400px) {
            font-size: 24px;
        }
    }

    h3{
        @media (max-width:400px) {
            font-size: 16px;
        }
    }

    p{
        max-width: 437px;

        @media (max-width:768px) {
            max-width: 527px;
            letter-spacing: .8px;
        }

        @media (max-width:768px) {
            letter-spacing: 1.2px;
        }
    }
    

    &__main{
        
        @media (max-width:768px) {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 40px;
        }

        @media (max-width:400px) {
            flex-direction: column-reverse;
        }

        &__info{
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media (max-width:768px) {
                align-items: center;
            }

            @media (max-width:400px) {
                display: grid;
                grid-template-rows: auto;
                place-items: center;
            }

        &__slide{
            display: flex;
            align-items: center;
            gap: 24px;
            padding-top: 120px;

            @media (max-width:768px) {
                padding-top: 40px;
            }

            @media (max-width:400px) {
               grid-row: 1 / 2;
               padding-top: 0;
               gap: 16px;
            }
            

            button{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: rgba($WHITE, .17);

                &:hover{
                    background-color: rgba($WHITE, .47);
                }

                @media (max-width:400px) {
                    width: 10px;
                    height: 10px;
                }
            }

            .activeSlide{
                background-color: $WHITE;

                &:hover{
                    background-color: $WHITE;
                }
            }
        } 
    }

    .img{

        img{
            position: fixed;
            right: 5%;
            bottom: 0; 
        }

        @media (max-width:768px) {
            img{
              position: static;
              width: 75%;
              height: 75%;  
            }
            
            display: flex;
            justify-content: center;
        }

        @media (max-width:400px) {
            border-bottom: 1px solid $GRAY;
            
            img{
                width: 65%;
                height: 65%;  
              }
        }

      }
    }
}

